<h1 style="font-family: 'poppins'; font-weight: bold; color: aliceblue;">Flight Fare Prediction</h1>

<h3 style="font-family: 'poppins'; font-weight: bold; color: aliceblue; text-align: left;">Author: Rakesh Pawar</h3>

[![GitHub](https://img.shields.io/badge/github-grey?style=for-the-badge&logo=github)](https://github.com/pawarrrakesh08) 
[![Kaggle](https://img.shields.io/badge/Kaggle-white?style=for-the-badge&logo=kaggle)](https://www.kaggle.com/pawarrrakesh) 
[![LinkedIn](https://img.shields.io/badge/linkedin-blue?style=for-the-badge&logo=linkedin)](https://www.linkedin.com/in/pawarrrakesh/)

## Problem Statement
Travelling through flights has become an integral part of todayâ€™s lifestyle as more and more people are opting for faster travelling options. The flight ticket prices increase or decrease every now and then depending on various factors like timing of the flights, destination, and duration of flights various occasions such as vacations or festive season. Therefore, having some basic idea of the flight fares before planning the trip will surely help many people save money and time.
The main goal is to predict the fares of the flights based on different factors available in the provided dataset.

### Content
#### Column Descriptions:

There are 300153 rows and 11 columns in the dataset.
* `Airline`: Categorical variable, Contains Airline company name , has 6 unique values.
* `Flight`: Categorical variable, Contains flight code prefix by company name abreviation.
* `Source City`: Categorical variable, Contains departure city , has 6 unique cities.
* `Departure Time`: Categorical variable, Contains departure time of the day like morrning, afternoon ,late night , has 6 unique timevalues.
* `Stops`: Categorical variable, Contains info like whether the flight is direct , has any stops , Has 3 Unique values.
* `Arrival Time`: Categorical variable, Contains arrival time of the day like morrning, afternoon ,late night , has 6 unique values.
* `Destination City`: Categorical variable, Contains landing city , has 6 unique cities.
* `Class`: Categorical variable, Contains information about seating class Business or Economy , has 2 unique values.
* `Duration`: Numerical variable, Displays the overall amount of time it takes to travel between cities in hours.
* `Days Left`: Numerical variable, Contains day's difference between booking date to flight date. 
* `Price`: Numrical variable, Target feature, Contains information about fare.

## Import Libaries

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

## Loading the Dataset

In [7]:
df = pd.read_csv("Flight_fare_data.csv")
df.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

Let's drop `unamed` column

In [8]:
df = df.drop(columns=['Unnamed: 0'])
df.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

Shape of Data

In [15]:
print(f"There are {len(df)} rows and {len(df.columns)} columns in the dataset.")

There are 300153 rows and 11 columns in the dataset.

## EDA (Exploratory Data Analysis)

Exploring information about each column

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   airline           300153 non-null  object
 1   flight            300153 non-null  object
 2   source_city       300153 non-null  object
 3   departure_time    300153 non-null  object
 4   stops             300153 non-null  object
 5   arrival_time      300153 non-null  object
 6   destination_city  300153 non-null  object
 7   class             300153 non-null  object
 8   duration          300153 non-null  float64
 9   days_left         300153 non-null  int64
 10  price             300153 non-null  int64
dtypes: float64(1), int64(2), object(8)
memory usage: 25.2+ MB

## Univariate Analysis

##### This function will help us to plot the count of Categorical variable and precentage of total

In [157]:
def count_and_percent(column):
    unique_values = df[column].nunique()
    count = df[column].value_counts()
    percentage = (df[column].value_counts(normalize=True)*100)
    result_df = pd.DataFrame({'count':count, 'percentage': percentage.map('{:.2f}%'.format)})
    return result_df.style.background_gradient(cmap='Blues')

### `Airline`

In [158]:
count_and_percent(column='airline')

###  `flight`

Top 10 flown airbus by Flight Code

In [152]:
df['flight'].value_counts().sort_values(ascending=False).head(10).to_frame().reset_index().style.background_gradient(cmap='Wistia')

Bottom 10 airbus flown by flight code

In [64]:
df['flight'].value_counts().sort_values(ascending=False).tail(10).to_frame().reset_index().style.background_gradient(cmap='Wistia')

### `source_city`

In [160]:
count_and_percent(column='source_city')

### `departure_time`

In [161]:
count_and_percent(column='departure_time')

### `stops`

In [162]:
count_and_percent(column='stops')

### `arrival_time`

In [163]:
count_and_percent(column='arrival_time')

### `destination_city`

In [164]:
count_and_percent(column='destination_city')

### `class`

In [165]:
count_and_percent(column='class')

# *`Observations`*
1. No missing values
2. `Vistara` airline [***127859***] has the highest number of flights `42.60%` & Lowest number flights are from `Spice jet` [***9011***] `3%`.
3. `UK-706` airbus has flown [***3235***] times in lifetime from `Vistara`.
4. `Delhi` [***61343***] has highest number of flights departure and `chennai` [***38700***] has the lowest number of flight departed.
5. Highest number of the flights depart in the `Morning` [***71146***] and less number number flights in `Late night` [***1306***]. `Early Morning` flights are less in departs compared to `Morning` might be due to weather in mornings such as fogg, dark clouds, visibility.
6. As per above dataset, we can see that highest number flights are `one` stop [***250863***] and `two or more` stops has the lowest number of flights [***13286***]. One stop flights are more preferred compared to Zero and two_or_more stops flights.
7. Highest number of flights are landing at `Night` [***91538***] and lowest number of flights are landing at `Late_Night` [***14001***].  
8. We have observed that most of flights depart in `Morning` ,most of the flights land at `Night` and most the flights are `one stop` flights.
9. Highest number of flights are destined to `Mumbai` [***59097***] and Lowest number of flights are destined to `Chennai` [***40368***].
10. Highest number of passengers are from `Economy` class.